.img-fade {
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
}

.img-header-bg {
  background-image: url("https://www.kbase.us/wp-content/uploads/sites/6/2020/06/hero-engage-1024x371.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-origin: border;
}


.title-row-bg {
  background: rgba(255,255,255,0.3);
}

.nav-hov {
  background: transparent;
  border-color: transparent;
  transition: 0s background;
  transition-delay: 250ms ease;
}

.nav-hov div {
  color: rgba(255,255,255,0.5);
}

.nav-hov:hover {
  background: rgba(255,255,255,0.3);
}

.nav-hov:hover div {
  color: var(--secondary);
}


.tree-img {
  width: 90%;
}

/* Set a fixed width for extra-large screens (1200px and above) */
@media (min-width: 1200px) {
  .tree-img {
    width: 1000px;
  }
}

.site-summary-img {
  width: 75%;
  /* height: 400px; */
  /* height: 150px; /* Set a fixed height */ */
  /* object-fit: cover; /* Ensures images retain aspect ratio while filling the height */ */
}

/* Set a fixed width for extra-large screens (1200px and above) */
@media (min-width: 768px) {
  .site-summary-img {
    width: 65%;
    /* height: 400px; */
    /* height: 150px; /* Set a fixed height */ */
    /* object-fit: cover; /* Ensures images retain aspect ratio while filling the height */ */
  }
}

.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* display: none; /* Initially hidden */ */
  z-index: 999; /* Ensures it stays on top */
}

/* Dropdown options styling */
.multi-line-dropdown .Select-menu-outer {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
}

.multi-line-dropdown .Select-option {
    white-space: normal; /* Allow text wrapping */
    padding: 10px; /* Add padding for spacing */
    height: auto; /* Let height adjust based on content */
    line-height: 1.5em; /* Adjust line height */
}

/* .pagination .page-link .pagination:hover .page-link:hover { */
    /* background-color: white; */
    /* color: var(--secondary); */
    /* border-color: var(--secondary); */
/* } */
